
.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    border: 1px solid blue;
    flex-grow: 1;
    flex-basis: 0;
}

.sectionHeader {
    margin-top: 5%;
    font-weight: bold;
}

.subHeader {
    font-weight: bold;
}

.miniHeader {
    margin-top: 2%;
    font-style: italic;
}

img {
    margin: auto;
    display: block;
}