
.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container > div {
    border: 1px solid blue;
    flex-grow: 1;
    flex-basis: 0;
}

.sectionHeader {
    font-weight: bold;
}

.subHeader {
    font-weight: bold;
}

.miniHeader {
    font-style: italic;
}